

<a routerLink="/parametros/crear-propietario" class="btn">Crear Propietario</a>

<table class="table responsive">

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Documento</th>
            <th>Ciudad</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoPropietarios">

            <td>
                {{p.Nombre}}
            </td>
            <td>
                {{p.Apellido}}
            </td>
            <td>
                {{p.Telefono}}
            </td>
            <td>
                {{p.Documento}}
            </td>
            <td>
                {{p.Ciudad}}
            </td>
            <td>
                {{p.Correo}}
            </td>
            <td>
                <a routerLink="/parametros/editar-propietario/{{p.Id}}" class="btn">Editar</a>
            </td>
            <td>
                <a routerLink="/parametros/eliminar-propietario/{{p.Id}}" class="btn red darken-1">Eliminar</a>
            </td>

        </tr>
    </tbody>

</table>>
